@{
    Layout = "../Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/forgetpassword.css">
<div class="body">
    <div class="main">
        <header>Quên mật khẩu</header>
        <form>
            <div  class="row">
                <input type="text" name="txtEmai" placeholder="Email">
                <i  class="fa-solid fa-user"></i>
            </div>
            @* <div class="row">
                <input type="text" name="txtMatkhau" placeholder="Mật khẩu">
                <i class="fa-solid fa-eye"></i>
            </div>
            <div class="row">
                <input type="text" name="txtRepass" placeholder="Nhập lại mật khẩu">
                <i  class="fa-solid fa-lock"></i>
            </div>
            <div class="row">
                <input type="text" name="txtMa" placeholder="Nhập mã kích hoạt">
                <i class="fa-solid fa-rotate-left"></i>
            </div> *@
            <div class="btn">
                <input type="button" name='button-forget' value="Xác nhận">
            </div>
            <div class="btn">
                <input type="button" name='button-cancer' value="Hủy">
            </div>
        </form>
    </div>
</div>
<script src="~/js/forgetpassword/forgetpassword.js" type="module"></script>
